# Скопируйте этот файл в .env и заполните значения
# НЕ коммитьте файл .env в репозиторий!

# Подключение к PostgreSQL
WB_PACKER_DB_HOST=
WB_PACKER_DB_PORT=5432
WB_PACKER_DB_NAME=wb_packer
WB_PACKER_DB_USER=wb_packer_user
WB_PACKER_DB_PASSWORD=
