# Шаблон файла credentials для Google Sheets API
# 
# ИНСТРУКЦИЯ:
# 1. Перейдите на https://console.cloud.google.com/
# 2. Создайте новый проект (или выберите существующий)
# 3. Включите Google Sheets API и Google Drive API
# 4. Создайте Service Account: IAM & Admin > Service Accounts > Create
# 5. Создайте ключ: Keys > Add Key > Create new key > JSON
# 6. Скачайте JSON файл и переименуйте в google_credentials.json
# 7. Откройте Google Sheets таблицу и нажмите "Share"
# 8. Добавьте email service account (из JSON файла) с правами Viewer
# 
# Файл должен содержать структуру:
# {
#   "type": "service_account",
#   "project_id": "...",
#   "private_key_id": "...",
#   "private_key": "-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n",
#   "client_email": "...@...iam.gserviceaccount.com",
#   "client_id": "...",
#   "auth_uri": "https://accounts.google.com/o/oauth2/auth",
#   "token_uri": "https://oauth2.googleapis.com/token",
#   ...
# }
